<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.newtownroom.userapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic,android:allowBackup">
        <activity android:name=".ui.AmenitiesListing" />
        <activity android:name=".ui.CouponsActivity" />
        <activity android:name=".ui.BookingComplete"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.GuestDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CheckOutDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HotelDetailsNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.UserAuthentication" />
        <activity
            android:name=".ui.HotelDetails"
            android:label="@string/title_activity_hotel_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.SmsBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>